/* version mobile
28-03-2018
 */
 
@media (max-width: 319px) {
.hidden-xs {
 	display: none;
 }
.header .first-header .content, .slider .content, .content, .articles .content, .breadcrumbs .content, footer .content, .wrapper  {
	width: 279px;
	margin: auto;
}
.jcarousel-wrapper {
	width: 279px !important;
}
.slider .jcarousel li .link {
	width: 100%;
	height: auto;
}
.slider .content-slider {
    background: #3fa63e;
}
.slider .content-slider .link img {
    width: 55px;
}
.slider .content-slider .link .text1 {
    font-size: 19px;
    margin-left: 0;
    margin-top: 60px;
    width: 210px;
    padding-left: 13px;
}
.jcarousel-pagination {
    top: 190px !important;
    left: 0;
}
.slider .content-slider .link .text2 {
    margin-top: 35px;
    margin-left: 16px;
    width: auto;
    float: right;
}
.slider .content-slider .link .text2 p {
    padding-right: 5px;
    border-left: dotted 2px #fff;
}
.wrapper .left, .wrapper .right {
	float: none;
}
.wrapper .left .temoignage .info {
	width: 249px;
}
.wrapper .left .temoignage .info .triangle {
    border-top: 25px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 25px solid #007f64;
    border-right: none;
    position: absolute;
    left: 235px;
    top: -24px;
}
.wrapper .left .solution {
	padding: 17px 23px;
	background: #009fda url('../img/solution-mobile.jpg') bottom no-repeat;
	margin-bottom: 23px;
	height: 325px;
}
.wrapper .left .solution .text {
	width: auto;
}
.wrapper .left .solution .text .t2 {
    font-size: 28px;
}
.wrapper .left .solution .text .t1 {
    font-size: 21px;
}
.wrapper .left .video-chiffre .video img, .wrapper .left .temoignage .visuel, .articles .article img {
	width: 279px;
	height: auto;;
}
.wrapper .right {
    margin-left: 0px;
    float: left;
    width: 239px;
    padding-left: 20px;
    padding-right: 20px;
}
.wrapper .left .video-chiffre .chiffre, .wrapper .left .video-chiffre .chiffre img  {
	margin-left: 0;
	width: 279px;
}
.wrapper .left .video-chiffre .video {
	margin-bottom: 23px;
}
.wrapper .left .video-chiffre .video .bloc-titre, .articles .article .bloc-titre {
	width: 264px;
}
.etapes .overlay .title .orange {
	display: block;
	width: 227px;
	margin: auto;
}
.etapes  {
    position :static;
 }
 .etapes .overlay {
    padding-top: 55px;
    padding-bottom: 55px;
    position :static;
 }
 .etapes .overlay .title .gray {
    margin-top: 12px;
    display: block;
    font-size: 24px;
}
.etapes .mobile-content .slider .content-slider {
	background: transparent;
}
.etapes .mobile-content .slider .jcarousel li {
	width:279px !important;
	text-align: center;
	margin-top: 30px;
}
.etapes .mobile-content .slider, .etapes .mobile-content .slider .content {
	background: transparent;
}
.etapes .mobile-content .jcarousel-pagination {
    text-align: center;
}
.etapes .mobile-content .jcarousel-pagination a {
    background: #4d4f53;
}
.etapes .mobile-content .jcarousel-pagination a.active {
    background: #aeb0b0 !important;
    margin-top: 30px;
}
.etapes .mobile-content .jcarousel-prev {
    position: absolute;
    top: 90px;
}
.etapes .mobile-content .jcarousel-next {
    position: absolute;
    top: 90px;
    right: 0;
}
.articles .article:nth-child(2) {
	margin: 0;
	margin-bottom: 23px;
}
.articles .article {
	margin-bottom: 23px;
}
.articles .overlay {
    top: -30px;
}
.mobile-content, .visible-xs {
	display: block;
}
footer .content {
    background: #4d4f53;
}
footer .content .list {
    width: 123px;
    padding-left: 15px;
}
footer .content .temoignage {
    border-right: none;
}
footer .content .contact {
	float: none;
}
footer .content .contact {
    width: auto;
    border-top: dotted thin #b2b0ac;
    margin-top: 45px;
}
footer .content .contact .tel {
    margin-top: 28px;
}
footer .content .copyrights p {
    text-align: left;
    margin-top: 48px;
    font-size: 11px;
}
.mean-container .mean-bar {
   float: none !important; 
	z-index: 2000;
}
.mean-container .mean-nav ul li {
    width: 90% !important;
    padding-left: 5%;
    padding-right: 5%;
}
.mean-container .mean-nav .logo {
	float: left;
}
.mean-container .mean-nav .logo img {
    position: absolute;
    top: -37px;
    width: 70px;
    padding-left: 10px;
}
.mean-container .mean-nav ul li a {
	border-bottom: dotted thin #4d4f53;
	text-transform: unset;
}
.mean-container .mean-nav ul li a.mean-expand {
    background: transparent !important; 
    border: none !important;
    border-left: none !important; 
    border-bottom: none !important; 
}
.mean-container .mean-nav ul li ul li {
	padding-left: 0;
    padding-right: 0;
    border-top: none !important;
}
.mean-container .mean-nav ul li ul li a {
    border-bottom: none !important;
}
.mean-container .mean-nav .nbr {
	float: left;
	position: absolute;
    top: -44px;
    padding-left: 10px;
    left: 100px;
}
.mean-container .mean-nav .tel {
	font-size: 18px;
	color: #ff5800;
	font-weight: bold;
	margin-top: 10px;
	position: relative;
	display: inline-block;
}
.mean-container .mean-nav .tel  .span1{
	position: absolute;
	top: 2px;
	right: -4px;
	font-size: 11px;
	color: #262626;
}
.mean-container .mean-nav .tel  .span2{
	font-size: 7px;
	color: #a2a3a4;
	position: absolute;
	right: 0;
}
.mean-container .mean-nav .recherche {
	margin-top: 25px;
	margin-bottom: 25px;
	float: right;
	z-index: 2000 !important;
	position: relative;
	background: #f6f6f5;
    height: 50px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.mean-container .mean-nav .recherche span { 
	background: url('../img/recherche.png') center right no-repeat;
	position: absolute;
	width: 15px;
	height: 15px;
	top: 17px;
    right: 12px;
	cursor: pointer;
}
.mean-container .mean-nav .recherche input {
	width : 260px;
	border: none;
	border-bottom:solid 1px #a6a7a9;
	height: 29px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    background: transparent;
}
.mean-container .mean-nav .recherche::placeholder {
    color: #4d4f53;
    font-size: 14px;
}
.mean-container .mean-nav .recherche:-ms-input-placeholder { 
    color: #4d4f53;
    font-size: 14px;
}

/*--------- Page Rubrique --------*/
.breadcrumbs .content {
    margin-top: 5px;
}
.page .article .content img, .single-page .left .accroche img  {
    width: 279px;
    height: auto;
}
.page .article .content .info {
    width: 239px;
    height: auto;
}
.page .right .solution .t2 {
    font-size: 29px; 
}

/*- ------------ Page article --------------- - */
.single-page .left .description {
     width: auto; 
     padding: 0 5px; 
}
.single-page .left .description img {
     width: 279px;
}
.single-page .left .title {
    color: #26927b;
    margin-bottom: 25px;
}
.single-page .left .accroche img {
    margin-bottom: 30px;
}
.single-page .left .accroche {
    margin-bottom: 30px;
}

/* ---------------------Page contact--------------------- */
.contact .left, .contact .left .form-group {
    width: 279px;
}
.contact .left .form-group {
    margin-bottom: 35px;
}
.contact .left .form-group label, .contact .left  .select {
    width: 266px!important;
    text-align: left;
    margin-bottom: 5px;
}
.contact .left .select {
    margin-bottom: 35px;
}
.contact .left .form-group input[type="text"], .contact .left .form-group input[type="email"], .contact .left .form-group textarea {
    width: 266px !important;
}
.contact .left .form-group select {
    width: 278px !important;
}
.contact .left .form-group #radio label {
    width: auto !important;
    display: inline;
}
.contact .left .form-group .radio {
    margin-top: 10px;
}
.contact .left .form-group .comment-label {
    position: static;
}
.contact .left .form-group p {
    margin-left: 0;
}
.contact .left .btn {
    margin-top: 15px;
    margin-left: 0;
    margin-bottom: 50px;
}
.contact .left .form-group label.error {
    margin-left: 0;
    width: 251px!important;
}
.single-page  .left .articles-similaires .lien a {
    float: left;
    text-decoration: underline;
    color: #4d4f53;
    font-size: 15px;
    width: 92%;
}
.wrapper .right .bloc .form-question .resultat {
    top: -19px;
}
}