/*********************
Date : 23/03/2018;
Projet : Sage;
*********************/
@font-face {
    font-family: 'FocoBold';
    src: url('../font/Foco-Bold.ttf');
}
@font-face {
    font-family: 'FocoRegular';
    src: url('../font/FocoLight-Regular.ttf');
}
html, body, div {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial !important;
}
a {
	text-decoration: none;
}
.header .first-header  {
	background-color: #000;
}
.header .first-header .content, .slider .content, .etapes .content, .articles .content, .breadcrumbs .content, footer .content  {
	width: 940px;
	margin: auto;
}
.header .first-header .content  {
	background: #000;
}
.header .first-header .content .button {
	float: right;
}
.header .first-header .content .liens {
	float: right;
}
.header .first-header .content .liens a{
	font-size: 11px;
	color: #fff;
	text-decoration: none;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 2px;
	padding-right: 9px;
	padding-left: 6px;
	display: inline-block;
	border-right: solid thin #fff;
}
.header .first-header .content .button .linkedin {
	margin-top: 3px;
	margin-left: 9px;
}.header .first-header .content .button .linkedin {
	margin-top: 4px;
	margin-left: 9px;
}
.header .second-header {
	height: 100px;
}
.header .second-header .content {
	width: 940px;
	margin: auto;
}
.header .second-header .content .logo {
	margin-top: 28px;
	float: left;
}
.header .second-header .content .recherche {
	margin-top: 36px;
	margin-left: 25px;
	float: right;
	z-index: 2000 !important;
	position: relative;
}
.header .second-header .content .recherche span { 
	background: url('../img/recherche.png') center right no-repeat;
	position: absolute;
	width: 15px;
	height: 15px;
	top: 8px;
	right: 5px;
	cursor: pointer;
}
.header .second-header .content .recherche input {
	width : 260px;
	border: none;
	border-bottom:solid 1px #a6a7a9;
	height: 29px;
}
.header .second-header .content .recherche::placeholder {
    color: #4d4f53;
    font-size: 14px;
}
.header .second-header .content .recherche:-ms-input-placeholder { 
    color: #4d4f53;
    font-size: 14px;
}
.header .second-header .content .menu { 
    float: right;
    margin-top: 42px;
}
.header .second-header .content .menu .liniv1 { 
    float: left;
    height: 46px;
    border-right: dotted 1px #7a7b7e;
    padding-right: 25px;
    padding-left: 25px;
    position: relative;
    z-index: 1000 !important;
	position: relative;
}
.header .second-header .content .menu .liniv1:hover .lien-niv1 { 
	color: #3fa63e;
	z-index: 1000 !important;
	position: relative;

}
.header .second-header .content .menu .liniv1:hover .ulniv2 { 
	display: block;
}

.header .second-header .content .menu .liniv1 a { 
    font-size: 14px;
    color: #000;
}
.header .second-header .content .menu .ulniv2  { 
    background: #fff;
    position: absolute;
    width: 262px;
    z-index: 500;
    padding-top: 102px;
    top:69px;
    margin-left: -26px;
    padding-left: 25px;
    margin-top: -73px;
    display: none;
}
.header .second-header .content .menu .ulniv2 a { 
    color: #9a9b9c;
}
.header .second-header .content .menu .ulniv2 li { 
    padding-bottom: 40px;
}

/* ---------------- Home page --------------- */
.slider {
	background: #3fa63e;
	height: 271px;
}
.slider .content{
	background: #3fa63e;
}
.slider .jcarousel li .link {
	display: block;
	width: 100%;
	height: 271px;
	width: 950px;
}
.slider .content-slider .link img {
	float: left;
	margin-top: 26px;
}
.slider  .content-slider .link .text1 {
	font-size: 45px;
	color: #fff;
	float: left;
	margin-top: 70px;
	margin-left: 34px;
}
.slider  .content-slider .link .bold{
	font-family: 'FocoBold';
}
.slider  .content-slider .link .regular{
	font-family: 'FocoRegular';
}
.slider .content-slider .link .text2 {
	margin-top: 128px;
	margin-left: 16px;
	color: #fff;
	font-family: 'FocoBold';
	font-size: 14px;
	width:110px;
	float: left;
}
.slider .content-slider .link .text2 p {
	border-left:dotted thin #fff;
	padding-left: 17px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.clear {
	clear: both;
}
.wrapper {
	width: 940px;
	margin: auto;
	position: relative;
}
.wrapper .left {
	float: left;
}
.wrapper .left .temoignage {
	margin-top: -46px;
	margin-bottom: 23px;
}
.wrapper .left .temoignage .visuel {
	float: left;
	height: 317px;
	width: 299px;
}
.wrapper .left .temoignage .info {
	float: left;
	width: 292px;
	height: 280px;
	background: #007f64;
	padding-top: 20px;
	padding-bottom: 17px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.wrapper .left .temoignage .info h2 {
	color: #a3c6bc;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
}
.wrapper .left .temoignage .info .blockquote {
	color: #fff;
	margin-top: 20px;
	font-weight: bold;
	font-size: 22px;
	padding-bottom: 11px;
	border-bottom: dotted thin #fff;
	line-height: 28px;
}
.wrapper .left .temoignage .info .client {
	color: #fff;
	margin-top: 11px;
	font-size: 15px;
	padding-bottom: 11px;
	line-height: 20px;
	padding-bottom: 0;
}
.wrapper .left .temoignage .info .btn {
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	border: solid thin #fff;
	padding: 12px;
	margin-top: 31px;
}
.wrapper .left .temoignage .info .page-temoignage .icon {
	margin-right: 3px;
	padding-top: 3px;
}
.wrapper .left .temoignage .info .page-temoignage {
	color: #fff;
	display: inline-block;
	margin-top: 19px;
}
.wrapper .left .temoignage .info .triangle {
	width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid #007f64;
    position: absolute;
    bottom: 34px;
    left: -25px;
}
.wrapper .left .solution {
	padding: 17px 23px;
	background: url('../img/solution.jpg') no-repeat;
	margin-bottom: 23px;
}
.wrapper .left .solution .text {
	width: 247px;
	color: #fff
}
.wrapper .left .solution .text .t1 {
	font-size: 24px;
}
.wrapper .left .solution .text .t2 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 11px;
}
.wrapper .left .solution .text .t3 {
	font-size: 15px;
	line-height: 20px;
	margin-bottom:16px ;
}
.wrapper .left .solution .btn {
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	border: solid thin #fff;
	padding: 12px;
}
.wrapper .left .video-chiffre .video {
	width: 300px;
	float: left;
	line-height: 0;
}
.wrapper .left .video-chiffre .video img {
	width: 300px;
}
.wrapper .left .video-chiffre .video .bloc-titre {
	width: 285px;
	height: 100px;
	padding-left: 15px;
	background: #41a940;
}
.wrapper .left .video-chiffre .video .bloc-titre .t1 {
	color: #a3c6bc;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	margin-bottom: 18px;
	padding-top: 11px;
}
.wrapper .left .video-chiffre .video .bloc-titre .t2 {
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 7px;
	line-height: 1;
}
.wrapper .left .video-chiffre .video .bloc-titre .t3 {
	color: #fff;
	font-size: 15px;
	line-height: 1;
}
.wrapper .left .video-chiffre .chiffre {
	width: 300px;
	float: left;
	margin-left: 20px;
	background: #007f64;
	padding-top: 17px;
}
.wrapper .left .video-chiffre .chiffre .titre {
	padding-left: 17px;
	padding-bottom: 10px;
	font-family: arial;
	font-weight: bold;
	font-size: 11px;
	color: #a3c6bc;
}
.wrapper .left .video-chiffre .chiffre .btn {
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	border: solid thin #fff;
	padding: 12px;
	margin-top: 22px;
	margin-bottom: 20px;
	margin-left: 17px;
}
.wrapper .right {
	margin-left: 66px;
	float: left;
	width: 250px;
	margin-top: 34px;
}
.wrapper .right .bloc {
	padding-bottom: 25px;
	margin-bottom: 25px;
	/*width: 100%;
	overflow: hidden;*/
	border-bottom: dotted thin #535154;
}
.wrapper .right .bloc:last-child {
	border-bottom: none;
	position: relative;
}
.wrapper .right .bloc .titre{
	font-size:18px;
	font-family: 'FocoBold';
	color: #4d4f53;
}
.wrapper .right .bloc .titre p{
	float: left;
	width: 185px;
}
.wrapper .right .bloc .titre img{
	float: left;
	margin-right: 12px;
}
.wrapper .right .bloc  .tel {
	font-size: 35px;
	color: #ff5800;
	font-weight: bold;
	margin-top: 10px;
	position: relative;
	display: inline-block;
}
.wrapper .right .bloc .tel  .span1{
	position: absolute;
	top: 2px;
	right: -4px;
	font-size: 11px;
	color: #262626;
}
.wrapper .right .bloc .tel  .span2{
	font-size: 7px;
	color: #a2a3a4;
	position: absolute;
	right: 0;
}
.wrapper .right .bloc .titre2{
	margin-top: 25px;
}
.wrapper .right .bloc .lien {
	margin-top: 11px; 
}
.wrapper .right .bloc .lien img{
	float: left;
	margin-right: 4px; 
}
.wrapper .right .bloc .lien a{
	float: left;
	text-decoration: underline;
	color: #ff5800;
}
.wrapper .right .bloc .contact p{
	margin-top: 5px;
}
.wrapper .right .bloc .text{
	font-size: 15px;
	color: #8d8d8d;
	margin-top: 14px;
}
.wrapper .right .bloc .input-newsletter{
	border: solid thin #a3a3a3;
	padding: 10px;
	font-size: 14px;
	width: 230px;
	margin-top: 21px;
	position: relative;
}
.wrapper .right .bloc .ok{
	background: url('../img/ok.jpg') center right no-repeat;
	width: 21px;
	height: 12px;
	top: 35px;
	right: 5px;
	cursor: pointer;
	position: absolute;
}
.wrapper .right .bloc .div-input-newsletter{
	position: relative;
}
.wrapper .right .bloc  .form-question {
	margin-top: 20px;
}
.wrapper .right .bloc  .form-question .div-input-newsletter  {
	position: relative;
}
.wrapper .right .bloc .form-question .radio {
	float: left;
	margin-right: 32px;
	position: relative;
}

.form-question input[type="radio"] + label:before {
  content: "";
  background-color: transparent;
  border: 1px solid red;
  border-radius: 50%;
  cursor: pointer;
  height: 13px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 13px;
}
.wrapper .right .bloc  .form-question input[type="radio"]:checked + label::before {
  background-color: #e54f00;
  border-color: #e54f00;
}
.wrapper .right .bloc  .form-question input[type="radio"]:checked + label {
  color: #e54f00;
}
.form-question input[type="radio"] {
  visibility: hidden;
}
.wrapper .right .bloc .form-question .radio label {
	color: #57595c;
}
.wrapper .right .bloc .form-question .btn {
	text-align: center;
}
.wrapper .right .bloc .form-question a {
	margin-top: 20px;
	background: #ff5800;
	border: none;
	color: #fff;
	padding:18px 43px;
	display: inline-block;
}
.wrapper .right .bloc .form-question .resultat {
	color: #8d8d8d;
    background: #eff0ee;
    padding: 23px 19px;
    display: none;
    position: absolute;
    top: -7px;
}
.wrapper .right .bloc .form-question .resultat .message {
	margin-bottom: 15px;
}
.wrapper .right .bloc .form-question .resultat  .sondage {
	color: #4d4f53;
	margin-left: 20px;
	padding-top: 3px;
}
.etapes {
	/*position: relative;*/
	width: 100%;
}
/*.etapes .overlay:before {
	content: "";
	position: absolute;
	left: 0;
	top: -27px;
	bottom: 0;
	right: 0;
	background: #eff0ee;	
	z-index: -1;
}*/

.etapes .overlay {
	padding-top: 88px;
	padding-bottom: 97px;
	position: relative;
	width: 100%;
	background: #eff0ee;
	z-index: -1;
	top: -27px;
}
.etapes .overlay .title  {
	text-align: center;
	font-size: 34px;
}
.etapes .overlay .title .orange {
	color: #ff5800;
	font-family: 'FocoBold';
}
.etapes .overlay .title .gray {
	color: #4d4f53;
	font-weight: normal;
}
.etapes .images  {
	margin-top: 50px;
}
.etapes .content {
	position: relative;
}
.etapes .bulle {
	position: absolute;
	right: -20px;
	top: 35px;
}
.etapes .images .fleche  {
	margin-bottom: 65px;
}
.etapes .images .img-etape1 {
	margin-left: 32px;
	margin-right: 30px;
}
.etapes .images .img-etape2 {
	margin-left: 35px;
	margin-right: 36px;
}
.etapes .images .img-etape3 {
	margin-left: 48px;
	margin-right: 45px;
}
.etapes .images .img-etape4 {
	margin-left: 30px;
}
.articles {	
	position: relative;
}
.articles .overlay {
	position: relative;
	width: 100%;
	top: -27px;
	top: -54px;
}
.articles .article {
	width: 300px;
	float: left;
	line-height: 0;
}
.articles .article:nth-child(2) {
	margin-right: 20px;
	margin-left: 20px;
}
.articles .article img {
	width: 300px;
}
.articles .article .bloc-titre {
	width: 285px;
	height: 100px;
	padding-left: 15px;
	background: #41a940;
}
.articles .article .bloc-titre .t1 {
	color: #a3c6bc;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	margin-bottom: 18px;
	padding-top: 11px;
	line-height: 1;
}
.articles .article .bloc-titre .t2 {
	color: #fff;
	font-size: 16px;
	margin-bottom: 7px;
	line-height: 1;
}
.mobile-content, .visible-xs {
	display: none;
}

/* ------------  Page Rubrique -------------- */
.page  .wrapper  {
	margin-top: 40px;
}
.page  .left .title {
	color: #41a940;
	font-size: 35px;
}
.page .article .content {
	margin-top: 40px;
	margin-bottom: 40px;
}
.page .article  {
	border-bottom: dotted thin #535154;
}
.page .article:last-child  {
	border-bottom: none;
}

.page .article .content img { 
	float: left;
	height: 200px;
}
.page .article .content .info { 
	background: #f6f6f5;
	padding: 20px;
	float: left;
	width: 283px;
	height: 160px;
}
.page .article .content .info .article-title { 
	color: #4d4f53;
	font-size: 22px;
}
.page .article .content .info .text { 
	color: #878787;
	font-size: 15px;
	margin-top: 20px;
	height: 50px;
}
.page .article .content .info .btn {
	text-transform: uppercase;
	color: #989898;
	font-size: 12px;
	display: inline-block;
	border: solid thin #989898;
	padding: 12px;
	margin-top: 28px;
}
.page .wrapper .right  {
	margin-top: 0;
}
.page .right .solution p{
	color: #009fda;
}
.page .right .solution p{
	color: #009fda;
}
.page .right .solution .t1{
	font-size: 24px;
}
.page .right .solution .t2{
	font-size: 30px;
	font-weight: bold;
}
.page .right .solution .t3{
	font-size: 15px;
	margin-top: 10px;
}
.page .right .solution .btn {
	text-transform: uppercase;
	color: #fff;
	background: #009fda;
	font-size: 12px;
	display: inline-block;
	padding: 12px;
	margin-top: 17px;
}
.page .right .titre2 {
	margin-bottom: 24px;
}
.page .wrapper .right .bloc .lien a {
	font-size: 15px;
}
.breadcrumbs a {
	font-size: 11px;
	color:#4d4f53;
	background: url('../img/breadcrumbs.png') right center no-repeat;
	display: inline-block;
	padding-right: 10px;
	text-decoration: underline;
}
.breadcrumbs a.active {
	color:#a1a2a4;
	background: transparent;
	text-decoration: none;
	cursor: default;
}
.page .articles .article  {
	border-bottom: none;
}
.page .articles .overlay, .page .articles  {
	position: static;
}
.page .articles .overlay {
	background: #f6f6f5;
	padding-top: 48px;
	padding-bottom: 48px;
}
.page .articles .article .bloc-titre {
	background: #007f64;
}
/* ------------  Article -------------- */
.single-page  .left .title {
	color: #26927b;
	margin-bottom: 40px;
}
.single-page  .left .accroche {
	margin-bottom: 40px;
}
.single-page  .left .accroche img {
	float: left;
}
.single-page  .left .accroche p {
	float: left;
	width: 230px;
	color: #26927b;
	font-size: 22px;
	font-weight: bold;
	padding-left: 14px;
	line-height: 27px;
}
.single-page  .left .description {
	width: 622px;
	color: #4d4f53;
	font-size: 14px;
	line-height: 22px;
	border-bottom:dotted thin #535154;
	margin-bottom: 40px;
}
.single-page  .left .description b {
	color: #41a940;
	font-weight: bold;
}
.single-page  .left .description a {
	color: #41a940;
	text-decoration: underline;
}
.single-page  .left .description p {
	margin-bottom: 25px;
} 
.single-page  .left .articles-similaires  {
	margin-bottom: 60px; 
}
.single-page  .left .articles-similaires .lien {
	margin-top: 11px; 
}
.single-page  .left .articles-similaires .lien img {
	float: left;
	margin-right: 4px; 
}
.single-page  .left .articles-similaires .lien a {
	float: left;
	text-decoration: underline;
	color: #4d4f53;
	font-size: 15px;

}
.single-page  .left .articles-similaires .titre {
	font-size:24px;
	font-family: 'FocoBold';
	color: #007f64;
	margin-bottom: 15px;
}
/* ----------------- Page contact ----------- -----------*/ 
.contact .left {
	width: 623px;
}
.contact .left .title {
	margin-bottom: 30px;
}
.contact .left .form-group {
	width: 623px;
	margin-bottom: 30px;
}
.contact .left .form-group label {
	width: 180px;
	padding-right: 15px;
	text-align: right;
	display: inline-block;
	color: #8d8d8d;
}
.contact .left  .select { 
	position: relative;
}
.contact .left .form-group  select { 
	background: url('../img/select-icon.png') center right 5px no-repeat;
  	-webkit-appearance: none;
  	-moz-appearance: none;
  	width: 294px !important;
}
.contact .left .form-group select::-ms-expand {
    display: none;
}
.contact .left .form-group input[type="text"], .contact .left .form-group select, .contact .left .form-group input[type="email"]   {
	color: #8d8d8d; 
	border: solid thin #a3a3a3;
	height: 38px !important;
	padding-left: 10px;
	width: 280px;
	height: 44px !important;
}
.contact .left .form-group .radio label {
	width: auto;
}
.contact .left .form-group textarea  {
	color: #8d8d8d; 
	border: solid thin #a3a3a3;
	height: 143px;
	width: 396px;
	padding-left: 10px;
	padding-top: 15px;
}
.contact .left .form-group .comment-label  {
	position: relative;
	top: -134px;
}
.contact .left .form-group input::placeholder, .contact .left .form-group textarea::placeholder, .contact .left .form-group select  {
    color: #bfc0c0;
    font-size: 14px;
}
.contact .left .form-group input:-ms-input-placeholder, .contact .left .form-group textarea:-ms-input-placeholder { 
    color: #bfc0c0;
    font-size: 14px;
}
.contact #radio {
	display: inline;
}
.contact .left .form-group .radio {
	display: inline-block;
	position: relative;
}
.contact .left .form-group  p {
	font-size: 12px;
	color: #9a9b9c;
	margin-left: 200px;
	margin-top: 15px;
}
.contact .left   .btn {
	margin-top: 53px;
	font-size: 12px;
	color: #fff;
	background: #41a940;
	display: inline-block;
	border:none;
	padding:15px 36px;
	text-transform: uppercase;
	margin-left: 200px;
	margin-bottom: 20px;
}
.contact .left input[type="radio"] + label:before {
  content: "";
  background-color: transparent;
  border: 1px solid red;
  border-radius: 50%;
  cursor: pointer;
  height: 13px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 13px;
}
.contact .left input[type="radio"]:checked + label::before {
  background-color: #e54f00;
  border-color: #e54f00;
}
.contact .left input[type="radio"]:checked + label {
  color: #e54f00;
}
.contact .left input[type="radio"] {
  visibility: hidden;
}
.contact label.error {
	display: block !important;
    margin-left: 199px;
    width: 267px !important;
    margin-top: 10px;
    padding: 8px 10px ;
    text-align: left !important;
    color: #a94442 !important;
    background-color: #f2dede;
    border-color: #ebccd1;
}
}
/* ------------  Footer -------------- */
footer {
	background: #4d4f53 !important;
}
.footer {
	background: #4d4f53;
}
footer .content {
	padding-bottom: 16px;
	background: #4d4f53;
}
footer .content .list {
	width: 160px;
	float: left;
	margin-top: 40px;
}
footer .content .list p {
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
}
footer .content .list li {
	margin-top: 18px;
}
footer .content .list li a {
	color: #9a9b9c;
	font-size: 11px;
}
footer .content  .temoignage li a {
	color: #fff;
}
footer .content  .temoignage {
	border-right: dotted thin #fff;
}
footer .content  .contact {
	width: 200px;
	float: right;
}
footer .content  .contact .icons img {
	margin-right:15px;
}
footer .content  .contact .tel {
	font-size: 26px;
	color: #fff;
	font-weight: bold;
	margin-top: 38px;
	position: relative;
}
footer .content  .contact .tel p {
	float: left;
	display: inline-block;
	position: relative;
	margin-left: 8px;
}
footer .content  .contact .tel img {
	float: left;
}
footer .content  .contact .tel  .span1{
	position: absolute;
	top: 2px;
	right: -7px;
	font-size: 12px;
}
footer .content  .contact .tel  .span2{
	font-size: 7px;
	color: #919294;
	position: absolute;
	left: 0;
    top: 26px;
}
footer .content  .contact .rappelez-moi{
	font-size: 12px;
	color: #9a9b9c;
	margin: 12px 0 20px 30px;
}
footer .content  .contact .rappelez-moi a{
	color: #fff;
	text-decoration: underline;
}
footer .content  .copyrights p{
	color: #bbbcb9;
	text-align: right;
	margin-top: 48px;
	font-size: 11px;
}
footer .content  .copyrights p a{
	color: #bbbcb9;
	border-right: solid thin #e0e1dd;
	padding-right: 5px;
	margin-right: 10px;
}

